.btn-light {
    color: #111111;

}

.card {
    max-height: 300px;
}

.rounded-circle {
    max-width: 150px;
    max-height: 150px;
}

.container-fluid {
    width : auto !important;
    margin: 0px 64px;
}